<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="otocloud.auth.mybatis.mapper.AuthUserMapper">
    <resultMap id="BaseResultMap" type="otocloud.auth.mybatis.entity.AuthUser">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="org_acct_id" property="orgAcctId" jdbcType="INTEGER"/>
        <result column="org_dept_id" property="orgDeptId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="cell_no" property="cellNo" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="erp_user_code" property="erpUserCode" jdbcType="VARCHAR"/>
        <result column="connected_with_erp" property="connectedWithErp" jdbcType="CHAR"/>
        <result column="last_pwd_changed_datetime" property="lastPwdChangedDatetime" jdbcType="TIMESTAMP"/>
        <result column="last_login_datetime" property="lastLoginDatetime" jdbcType="TIMESTAMP"/>
        <result column="last_failed_datetime" property="lastFailedDatetime" jdbcType="TIMESTAMP"/>
        <result column="login_failed_times" property="loginFailedTimes" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="CHAR"/>
        <result column="entry_id" property="entryId" jdbcType="INTEGER"/>
        <result column="entry_datetime" property="entryDatetime" jdbcType="TIMESTAMP"/>
        <result column="update_id" property="updateId" jdbcType="INTEGER"/>
        <result column="update_datetime" property="updateDatetime" jdbcType="TIMESTAMP"/>
        <result column="delete_id" property="deleteId" jdbcType="INTEGER"/>
        <result column="delete_datetime" property="deleteDatetime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, org_acct_id, org_dept_id, name, cell_no, email, password, erp_user_code, connected_with_erp, 
    last_pwd_changed_datetime, last_login_datetime, last_failed_datetime, login_failed_times, 
    status, entry_id, entry_datetime, update_id, update_datetime, delete_id, delete_datetime
  </sql>

    <sql id="Batch_Insert_Column_List">
    org_acct_id, org_dept_id, name, cell_no, email, password, erp_user_code, connected_with_erp,
    last_pwd_changed_datetime, last_login_datetime, last_failed_datetime, login_failed_times,
    status, entry_id, entry_datetime, update_id, update_datetime, delete_id, delete_datetime
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="otocloud.auth.mybatis.entity.AuthUserExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from auth_user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from auth_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from auth_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="otocloud.auth.mybatis.entity.AuthUser"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into auth_user (id, org_acct_id, org_dept_id, 
      name, cell_no, email, 
      password, erp_user_code, connected_with_erp, 
      last_pwd_changed_datetime, last_login_datetime, 
      last_failed_datetime, login_failed_times, 
      status, entry_id, entry_datetime, 
      update_id, update_datetime, delete_id, 
      delete_datetime)
    values (#{id,jdbcType=INTEGER}, #{orgAcctId,jdbcType=INTEGER}, #{orgDeptId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{cellNo,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{erpUserCode,jdbcType=VARCHAR}, #{connectedWithErp,jdbcType=CHAR}, 
      #{lastPwdChangedDatetime,jdbcType=TIMESTAMP}, #{lastLoginDatetime,jdbcType=TIMESTAMP}, 
      #{lastFailedDatetime,jdbcType=TIMESTAMP}, #{loginFailedTimes,jdbcType=INTEGER}, 
      #{status,jdbcType=CHAR}, #{entryId,jdbcType=INTEGER}, #{entryDatetime,jdbcType=TIMESTAMP}, 
      #{updateId,jdbcType=INTEGER}, #{updateDatetime,jdbcType=TIMESTAMP}, #{deleteId,jdbcType=INTEGER}, 
      #{deleteDatetime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="otocloud.auth.mybatis.entity.AuthUser">
        insert into auth_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="orgAcctId != null">
                org_acct_id,
            </if>
            <if test="orgDeptId != null">
                org_dept_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="cellNo != null">
                cell_no,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="erpUserCode != null">
                erp_user_code,
            </if>
            <if test="connectedWithErp != null">
                connected_with_erp,
            </if>
            <if test="lastPwdChangedDatetime != null">
                last_pwd_changed_datetime,
            </if>
            <if test="lastLoginDatetime != null">
                last_login_datetime,
            </if>
            <if test="lastFailedDatetime != null">
                last_failed_datetime,
            </if>
            <if test="loginFailedTimes != null">
                login_failed_times,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="entryId != null">
                entry_id,
            </if>
            <if test="entryDatetime != null">
                entry_datetime,
            </if>
            <if test="updateId != null">
                update_id,
            </if>
            <if test="updateDatetime != null">
                update_datetime,
            </if>
            <if test="deleteId != null">
                delete_id,
            </if>
            <if test="deleteDatetime != null">
                delete_datetime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="orgAcctId != null">
                #{orgAcctId,jdbcType=INTEGER},
            </if>
            <if test="orgDeptId != null">
                #{orgDeptId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="cellNo != null">
                #{cellNo,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="erpUserCode != null">
                #{erpUserCode,jdbcType=VARCHAR},
            </if>
            <if test="connectedWithErp != null">
                #{connectedWithErp,jdbcType=CHAR},
            </if>
            <if test="lastPwdChangedDatetime != null">
                #{lastPwdChangedDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastLoginDatetime != null">
                #{lastLoginDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastFailedDatetime != null">
                #{lastFailedDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="loginFailedTimes != null">
                #{loginFailedTimes,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
            <if test="entryId != null">
                #{entryId,jdbcType=INTEGER},
            </if>
            <if test="entryDatetime != null">
                #{entryDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
                #{updateId,jdbcType=INTEGER},
            </if>
            <if test="updateDatetime != null">
                #{updateDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteId != null">
                #{deleteId,jdbcType=INTEGER},
            </if>
            <if test="deleteDatetime != null">
                #{deleteDatetime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="otocloud.auth.mybatis.entity.AuthUserExample"
            resultType="java.lang.Integer">
        select count(*) from auth_user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update auth_user
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.orgAcctId != null">
                org_acct_id = #{record.orgAcctId,jdbcType=INTEGER},
            </if>
            <if test="record.orgDeptId != null">
                org_dept_id = #{record.orgDeptId,jdbcType=INTEGER},
            </if>
            <if test="record.name != null">
                name = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.cellNo != null">
                cell_no = #{record.cellNo,jdbcType=VARCHAR},
            </if>
            <if test="record.email != null">
                email = #{record.email,jdbcType=VARCHAR},
            </if>
            <if test="record.password != null">
                password = #{record.password,jdbcType=VARCHAR},
            </if>
            <if test="record.erpUserCode != null">
                erp_user_code = #{record.erpUserCode,jdbcType=VARCHAR},
            </if>
            <if test="record.connectedWithErp != null">
                connected_with_erp = #{record.connectedWithErp,jdbcType=CHAR},
            </if>
            <if test="record.lastPwdChangedDatetime != null">
                last_pwd_changed_datetime = #{record.lastPwdChangedDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.lastLoginDatetime != null">
                last_login_datetime = #{record.lastLoginDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.lastFailedDatetime != null">
                last_failed_datetime = #{record.lastFailedDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.loginFailedTimes != null">
                login_failed_times = #{record.loginFailedTimes,jdbcType=INTEGER},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=CHAR},
            </if>
            <if test="record.entryId != null">
                entry_id = #{record.entryId,jdbcType=INTEGER},
            </if>
            <if test="record.entryDatetime != null">
                entry_datetime = #{record.entryDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateId != null">
                update_id = #{record.updateId,jdbcType=INTEGER},
            </if>
            <if test="record.updateDatetime != null">
                update_datetime = #{record.updateDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.deleteId != null">
                delete_id = #{record.deleteId,jdbcType=INTEGER},
            </if>
            <if test="record.deleteDatetime != null">
                delete_datetime = #{record.deleteDatetime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update auth_user
        set id = #{record.id,jdbcType=INTEGER},
        org_acct_id = #{record.orgAcctId,jdbcType=INTEGER},
        org_dept_id = #{record.orgDeptId,jdbcType=INTEGER},
        name = #{record.name,jdbcType=VARCHAR},
        cell_no = #{record.cellNo,jdbcType=VARCHAR},
        email = #{record.email,jdbcType=VARCHAR},
        password = #{record.password,jdbcType=VARCHAR},
        erp_user_code = #{record.erpUserCode,jdbcType=VARCHAR},
        connected_with_erp = #{record.connectedWithErp,jdbcType=CHAR},
        last_pwd_changed_datetime = #{record.lastPwdChangedDatetime,jdbcType=TIMESTAMP},
        last_login_datetime = #{record.lastLoginDatetime,jdbcType=TIMESTAMP},
        last_failed_datetime = #{record.lastFailedDatetime,jdbcType=TIMESTAMP},
        login_failed_times = #{record.loginFailedTimes,jdbcType=INTEGER},
        status = #{record.status,jdbcType=CHAR},
        entry_id = #{record.entryId,jdbcType=INTEGER},
        entry_datetime = #{record.entryDatetime,jdbcType=TIMESTAMP},
        update_id = #{record.updateId,jdbcType=INTEGER},
        update_datetime = #{record.updateDatetime,jdbcType=TIMESTAMP},
        delete_id = #{record.deleteId,jdbcType=INTEGER},
        delete_datetime = #{record.deleteDatetime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="otocloud.auth.mybatis.entity.AuthUser">
        update auth_user
        <set>
            <if test="orgAcctId != null">
                org_acct_id = #{orgAcctId,jdbcType=INTEGER},
            </if>
            <if test="orgDeptId != null">
                org_dept_id = #{orgDeptId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="cellNo != null">
                cell_no = #{cellNo,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="erpUserCode != null">
                erp_user_code = #{erpUserCode,jdbcType=VARCHAR},
            </if>
            <if test="connectedWithErp != null">
                connected_with_erp = #{connectedWithErp,jdbcType=CHAR},
            </if>
            <if test="lastPwdChangedDatetime != null">
                last_pwd_changed_datetime = #{lastPwdChangedDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastLoginDatetime != null">
                last_login_datetime = #{lastLoginDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastFailedDatetime != null">
                last_failed_datetime = #{lastFailedDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="loginFailedTimes != null">
                login_failed_times = #{loginFailedTimes,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=CHAR},
            </if>
            <if test="entryId != null">
                entry_id = #{entryId,jdbcType=INTEGER},
            </if>
            <if test="entryDatetime != null">
                entry_datetime = #{entryDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
                update_id = #{updateId,jdbcType=INTEGER},
            </if>
            <if test="updateDatetime != null">
                update_datetime = #{updateDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteId != null">
                delete_id = #{deleteId,jdbcType=INTEGER},
            </if>
            <if test="deleteDatetime != null">
                delete_datetime = #{deleteDatetime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="otocloud.auth.mybatis.entity.AuthUser">
    update auth_user
    set org_acct_id = #{orgAcctId,jdbcType=INTEGER},
      org_dept_id = #{orgDeptId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      cell_no = #{cellNo,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      erp_user_code = #{erpUserCode,jdbcType=VARCHAR},
      connected_with_erp = #{connectedWithErp,jdbcType=CHAR},
      last_pwd_changed_datetime = #{lastPwdChangedDatetime,jdbcType=TIMESTAMP},
      last_login_datetime = #{lastLoginDatetime,jdbcType=TIMESTAMP},
      last_failed_datetime = #{lastFailedDatetime,jdbcType=TIMESTAMP},
      login_failed_times = #{loginFailedTimes,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR},
      entry_id = #{entryId,jdbcType=INTEGER},
      entry_datetime = #{entryDatetime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=INTEGER},
      update_datetime = #{updateDatetime,jdbcType=TIMESTAMP},
      delete_id = #{deleteId,jdbcType=INTEGER},
      delete_datetime = #{deleteDatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select resultMap="BaseResultMap" parameterType="otocloud.auth.mybatis.entity.AuthUserExample"
            id="selectByExampleWithRowbounds">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from auth_user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByAcctAndDept" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM auth_user
        WHERE org_acct_id=#{orgAcctId} AND org_dept_id=#{orgDeptId} AND delete_datetime IS NULL
    </select>

    <select id="isRegisteredCellNo" resultType="boolean">
    SELECT count(id)
    FROM auth_user
    WHERE cell_no=#{cellNo}
    LIMIT 1
    </select>

    <insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">
        insert into auth_user (id, org_acct_id, org_dept_id,
        name, cell_no, email,
        password, erp_user_code, connected_with_erp,
        last_pwd_changed_datetime, last_login_datetime,
        last_failed_datetime, login_failed_times,
        status, entry_id, entry_datetime,
        update_id, update_datetime, delete_id,
        delete_datetime)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id,jdbcType=INTEGER}, #{item.orgAcctId,jdbcType=INTEGER}, #{item.orgDeptId,jdbcType=INTEGER},
            #{item.name,jdbcType=VARCHAR}, #{item.cellNo,jdbcType=VARCHAR}, #{item.email,jdbcType=VARCHAR},
            #{item.password,jdbcType=VARCHAR}, #{item.erpUserCode,jdbcType=VARCHAR},
            #{item.connectedWithErp,jdbcType=CHAR},
            #{item.lastPwdChangedDatetime,jdbcType=TIMESTAMP}, #{item.lastLoginDatetime,jdbcType=TIMESTAMP},
            #{item.lastFailedDatetime,jdbcType=TIMESTAMP}, #{item.loginFailedTimes,jdbcType=INTEGER},
            #{item.status,jdbcType=CHAR}, #{item.entryId,jdbcType=INTEGER}, #{item.entryDatetime,jdbcType=TIMESTAMP},
            #{item.updateId,jdbcType=INTEGER}, #{item.updateDatetime,jdbcType=TIMESTAMP},
            #{item.deleteId,jdbcType=INTEGER},
            #{item.deleteDatetime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>

</mapper>